<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Get ready to order online</title>
    <link href="https://i.ibb.co/CmhVybS/favicon-32x32.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/CSS/master.css">
    <link rel="stylesheet" href="~/Content/CSS/login_register.css">
</head>

<body style="min-height: 100%; display: flex; flex-direction: column">

</body>
        <!-- HEADER ADMIN -->

        <header id="header">
            <nav class="navbar container">
                <a href="~/Home/Index">
                    <img src="~/Content/Images/chownow_logo.png" alt="ChowNow's logo" class="logo-image" />
                </a>
                <button type="button" class="menu-toggler">
                    <i class="ri-menu-line toggle-icon open-menu-icon"></i>
                    <i class="ri-close-line toggle-icon close-menu-icon"></i>
                </button>
                <div class="collapsible-menu">
                    <ul class="list">
                        <li class="list-item">
                            <a href="~/Home/Index" class="list-link">Home</a>
                        </li>
                        <li class="list-item">
                            <a href="~/Profile/Index" class="list-link">Profile</a>
                        </li>
                        <li class="list-item">
                            <a href="~/Employee/Index" class="list-link">Employees</a>
                        </li>
                        <li class="list-item">
                            <a href="~/Product/AddProduct" class="list-link current-link">Products</a>
                        </li>
                        <li class="list-item">
                            <a href="~/History/Index" class="list-link">History</a>
                        </li>
                        <li class="list-item">
                            <a href="~/Login/SignOut" class="list-link">Sign out</a>
                        </li>
                    </ul>
                    <div class="search-box">
                        <form action="" class="search-form">
                            <span class="form-icon search-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
                                    <path fill="#8B8B8B"
                                          d="M15.212 14.573l-3.808-3.96A6.44 6.44 0 0012.92 6.46 6.467 6.467 0 006.46 0 6.467 6.467 0 000 6.46a6.467 6.467 0 006.46 6.46 6.39 6.39
                                              0 003.701-1.169l3.837 3.99a.838.838 0 001.191.023.844.844 0 00.023-1.19zM6.46 1.685a4.78 4.78 0 014.775 4.775 4.78 4.78 0 01-4.775 4.
                                              775A4.78 4.78 0 011.685 6.46 4.78 4.78 0 016.46 1.685z" />
                                </svg>
                            </span>
                            <input type="text" class="search-input" placeholder="Search">
                            <button type="button" class="form-icon cart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
                                    <path class="path" fill="#3C3737" fill-rule="evenodd"
                                          d="M1.014 10.084a.464.464 0 01.45-.576h21.072c.302 0 .523.283.45.576L20.059 21.79a.927.927 0 01-.9.703H4.84a.927.927 0 01-.9-.703L1.015 10.084zm11.736 3.541a.75.75 0 00-1.5 0v4.75a.75.75 0 001.5 0v-4.75zm4.319-.561a.75.75 0 01.448.961l-1.624 4.464a.75.75 0 11-1.41-.513l1.625-4.464a.75.75 0 01.96-.448zm-9.177.448a.75.75 0 10-1.41.513l1.625 4.464a.75.75 0 101.41-.513l-1.625-4.464z"
                                          clip-rule="evenodd" />
                                    <path class="path no-fill" stroke="#3C3737" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M18.5 10.5l-4.911-6.422a2 2 0 00-3.178 0L5.5 10.5" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <!-- HEADER ADMIN-->

        <!-- PRODUCTG -->

        <section class="why-choose-us-login">
            <div class="why-choose-us-login-container container d-grid">
                <div class="image-content-group">
                    <img src="~/Content/Images/register.svg" />
                </div>
                <div class="text-content-group">
                    <div class="section-metadata">
                        <h2 class="title section-title">Create a product</h2>
                        @{ 
                            if(ViewBag.error != null)
                            {
                                <p style="color:#69A6AD">@ViewBag.error</p>
                            }
                            else
                            {
                                <p>
                                    Add new delicious products fast and easy.
                                </p>
                            }
                        }
                    </div>
                    <form action="~/Product/AddProduct" method="post">

                        <div class="form-group-register">
                            <input type="text" placeholder="Product Name" name="Name" required>
                            <input type="number" min="0" placeholder="Price" name="Price" required>
                        </div>
                        <div class="form-group-register">
                            <input style="width: 100%; text-align:left;" type="text" name="Ingredients" placeholder="Ingredients" required/>
                        </div>

                        <input type="submit" value="Create" class="button" style="margin-top: 1.25rem">

                    </form>
                </div>
            </div>
        </section>

        <!-- PRODUCT -->

        <!-- FOOTER -->

        <footer id="footer">
            <div class="container">
                <div class="footer-bottom-data">
                    <span class="copyright-information">&copy;ChowNow 2022. All Rights Reserved.</span>
                    <div class="legal-information">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Privacy policy</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- FOOTER -->

        <script src="~/Scripts/master.js"></script>
</html>
